*~
*.swp
*.orig
*tags

######################
# Compilation files
######################

*transcript
*make_*
*_history
_autogen/
_dep/
_gen/
_xilinx/
*.o
*.d
*.bit
*.bit
*.elf
*.elf.size

# Bundled binary file with PL/PS config
*BOOT.bin

# BSP-generated directories
software/app/bpm/bpm_*/
software/app/hsd/hsd_*/

######################
# Modelsim
######################

*.wlf
work/

######################
# Temporary files
######################

*#*

######################
# Repo-specific files
######################

# Keep only source file, not generated products
/gateware/platform/xilinx/*/*/evrGTY/
!/gateware/platform/xilinx/*/*/evrGTY/evrGTY.xci
/gateware/platform/xilinx/*/*/prbsMMCM/
!/gateware/platform/xilinx/*/*/prbsMMCM/prbsMMCM.xci
/gateware/platform/xilinx/*/*/system/
!/gateware/platform/xilinx/*/*/system/system.bd
/gateware/platform/xilinx/*/*/ila_td256_s4096_cap/
!/gateware/platform/xilinx/*/*/ila_td256_s4096_cap/ila_td256_s4096_cap.xci
/gateware/platform/xilinx/*/*/PacketMem/
!/gateware/platform/xilinx/*/*/PacketMem/PacketMem.xci
/gateware/platform/xilinx/*/*/MappingRam/
!/gateware/platform/xilinx/*/*/MappingRam/MappingRam.xci
/gateware/platform/xilinx/*/*/timeStampFIFO/
!/gateware/platform/xilinx/*/*/timeStampFIFO/timeStampFIFO.xci
/gateware/platform/xilinx/*/*/trimMultiplier/
!/gateware/platform/xilinx/*/*/trimMultiplier/trimMultiplier.xci
/gateware/platform/xilinx/*/*/adcCordic/
!/gateware/platform/xilinx/*/*/adcCordic/adcCordic.xci

# NCO tables
*csv

# generated from TICS files
*lmk04208.h
*lmx2594.h
*lmx2594DAC.h
*lmx2594ADC.h
*lmk04828B.h

# iverilog dependency files. Generated by Makefile
*MappingRam_iverilog_cfile.txt
*PacketMem_iverilog_cfile.txt
*evrGTY_iverilog_cfile.txt
*prbsMMCM_iverilog_cfile.txt
*timeStampFIFO_iverilog_cfile.txt
*adcCordic_iverilog_cfile.txt
*trimMultiplier_iverilog_cfile.txt
*ila_td256_s4096_cap_iverilog_cfile.txt

# generated by makefile for dependency tracking
axi_lite_generic_reg
evr_axi

# Makefile-generated
*system_top.xdc
*prio_xci_files.tcl
*ipcores_repos.tcl

# Script-generated
*softwareBuildDate.h
*firmwareBuildDate.v
*gpioIDX.v

######################
# Vivado files
######################

*.jou
*.log
*.str
*.xpr
*.edif
*.mif
.Xil/

# Vivado/Vitis-generated
*system.xsa
*psu_init*
*.bif
*init.tcl

######################
# Impact files
######################

*impact.xsl
*impact_impact.xwbt
*usage_statistics_webtalk.html
*webtalk_impact.xml
